<br>
<br>
<div class="jumbotron">
  <h3 class=".fs-2 text text-center">Jungle: Your Local Nursery</h3>
  <br>
  <p class=".fs-4 text">Jungle Nursery is a family owned and operated business that has been serving the greater river area  for the past 40 years. Since Jungle Rim’s humble beginnings in 1978, it has expanded from a small, family run operation to one of the largest Retail and Wholesale nurseries on the West Coast of Paradise. Russ and Trudy, along with their children continue to operate the business, keeping it a family run operation. We continue to
  strive to offer exceptional customer service and competitive grower direct pricing for our clients many of whom are now
  second and third generation customers.</p>
  <p class=".fs-4 text">If you need any help regarding gardening, please come to us. We are happy to help! 😊</p>

  <br>
  <p class=".fs-4 text">From the Jungle Family 💕</p>
  
  <hr class="my-4">
  <%= link_to "Go to the store" , root_path, class: 'btn btn-lg btn-success' %>
</div>